@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  /* Google Fonts */
    @font-face {
      font-family: 'gooReg';
      src: url('/libraries/fonts/google/GoogleSans-Regular.ttf') format('truetype');
  }
    @font-face {
      font-family: 'gooMed';
      src: url('/libraries/fonts/google/GoogleSans-Medium.ttf') format('truetype');
  }
    @font-face {
      font-family: 'gooBold';
      src: url('/libraries/fonts/google/GoogleSans-Bold.ttf') format('truetype');
  }
    @font-face {
      font-family: 'gooRegit';
      src: url('/libraries/fonts/google/GoogleSans-Italic.ttf') format('truetype');
  }
    @font-face {
      font-family: 'gooMedit';
      src: url('/libraries/fonts/google/GoogleSans-MediumItalic.ttf') format('truetype');
  }
    @font-face {
      font-family: 'gooBoldit';
      src: url('/libraries/fonts/google/GoogleSans-BoldItalic.ttf') format('truetype');
  }
  /* End Google Fonts */
}